@import url('https://fonts.googleapis.com/css2?family=Freehand&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../styles/color-rules.scss';
@import '../styles/typography-rules.scss';

.interestCategoriesWrapper {
	text-align: center;
	.overlay {
		position: relative;
		width: 221px;
		height: 221px;
		margin-left: auto;
		display: grid;
		margin-right: auto;
		border-radius: 28px;
		p {
			position: absolute;
			color: $white-shade;
			z-index: 9999999999999;
			left: 9%;
			@include body-medium-2;
			font-size: 22px !important;
			bottom: 0%;
		}

		&:hover {
			cursor: pointer;
			p {
				color: $black-shade !important;
			}
			background: $orange-shade;
			div {
				position: absolute;
				width: 221px;
				height: 221px;
				background-color: $orange-shade;
				opacity: 0.8;
				border-radius: 24px;
			}
		}
	}
	img {
		position: relative;
		filter: brightness(0.45);
		cursor: pointer;
		&:hover {
		}
	}
}
